<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.cc.admin.dao.AdminDAO">
	
	<select id="MemberList" resultType="kr.co.cc.admin.dto.AdminDTO">
		SELECT name, id, dept_name, status, admin_chk
			FROM member
	</select>
	
	<select id="AdminMemberDetail" parameterType="java.lang.String" resultType="kr.co.cc.admin.dto.AdminDTO">
		SELECT id, name, birth_date, email, phone, hire_date, dept_name, job_name, status, admin_chk
			FROM member
		WHERE id = #{id}
	</select>
	
	<update id="MemberUpdate" parameterType="kr.co.cc.admin.dto.AdminDTO">
	    UPDATE member
	    <set>
	        <choose>
	            <when test="dto.job_name != null">
	                job_name = #{dto.job_name}
	            </when>
	            <otherwise>
	                job_name = job_name
	            </otherwise>
	        </choose>,
	        <choose>
	            <when test="dto.dept_name != null">
	                dept_name = #{dto.dept_name}
	            </when>
	            <otherwise>
	                dept_name = dept_name
	            </otherwise>
	        </choose>,
	        <choose>
	            <when test="dto.status != null">
	                status = #{dto.status}
	            </when>
	            <otherwise>
	                status = status
	            </otherwise>
	        </choose>,
	        <choose>
	            <when test="dto.admin_chk != null">
	                admin_chk = #{dto.admin_chk}
	            </when>
	            <otherwise>
	                admin_chk = admin_chk
	            </otherwise>
	        </choose>
	    </set>
	    WHERE id = #{id}
	</update>

	
</mapper>