<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.cc.admin.dao.AdminDAO">
	
	<select id="MemberList" resultType="kr.co.cc.admin.dto.AdminDTO">
		SELECT name, id, dept_name, status, admin_chk
			FROM member
	</select>
	
</mapper>