<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.cc.alarm.dao.AlarmDAO">
	
	<select id="alarmCount" resultType="int" parameterType="String">
		SELECT COUNT(id) from notice
		WHERE receive_id = #{receive_id}
	</select>
	
<!-- 	<select id="alarmList" resultType="kr.co.cc.alaram.dto.AlarmDTO">
		SELECT notice.type, notice.identify_value, notice.send_id, notice.create_at, m.user_id, m.name
		FROM notice
		LEFT JOIN member m ON notice.send_id = m.id
		WHERE notice.status = 0
	</select> -->
	
</mapper>