<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.cc.doc.dao.DocDAO">

	<select id="getApprovalList" resultType="kr.co.cc.doc.dto.ApprovalDTO">
		SELECT * FROM approval
	</select>

	<select id="getMemberList" resultType="hashmap">
		SELECT m.*, jl.name AS job_level_name, d.name AS dept_name FROM member m 
			LEFT JOIN job_level jl ON m.job_level_id = jl.id 
		LEFT JOIN dept d ON m.dept_id = d.id
	</select>

	<select id="getDocFormList" resultType="kr.co.cc.doc.dto.DocFormDTO">
		SELECT * FROM doc_form
	</select>
	
	<select id="getDeptMap" resultType="hashmap">
		SELECT * FROM dept WHERE id = #{deptId}
	</select>

	<select id="getMemberInfo" resultType="kr.co.cc.doc.dto.MemberDTO">
		SELECT * FROM member WHERE id=#{param1}
	</select>
	
	<insert 
		id="docWrite"
		useGeneratedKeys="true"
		keyProperty="id"
		keyColumn="id"
		parameterType="kr.co.cc.doc.dto.DocDTO"
	>
		INSERT INTO doc(subject, content, status, doc_form_id, member_id, dept_name, job_name, public_range) 
			VALUES(#{subject}, #{content}, #{status}, #{docFormId}, #{memberId}, #{deptName}, #{jobName}, #{publicRange})
	</insert>

	<insert id="attachmentSave">
		INSERT INTO attachment(ori_file_name, new_file_name, classification, identify_value) 
			VALUES(#{param1}, #{param2}, #{param3}, #{param4})
	</insert>
	
	<insert id="approvalWrite" parameterType="hashmap">
		INSERT INTO doc_status(id, member_id, job_name, dept_name, approval_code, order_rank, approval, read_chk) 
			VALUES(#{id}, #{member_id}, #{job_name}, #{dept_name}, #{approval_code}, #{order_rank}, #{approval}, #{read_chk})
	</insert>
	
	<insert id="docNotice">
		INSERT INTO notice(send_id, receive_id, type, status, identify_value) 
			VALUES(#{param1}, #{param2}, #{param3}, #{param4}, #{param5})
	</insert>


	<select id="getMemberSignFilePath" resultType="string">
		SELECT new_file_name FROM attachment WHERE classification = '서명이미지' AND identify_value = #{param1}
	</select>


	<select id="getApprovalName" resultType="string">
		SELECT name FROM approval WHERE id = #{param1}
	</select>

	
	<select id="tempDocList" resultType="kr.co.cc.doc.dto.DocDTO">
		SELECT * FROM doc WHERE member_id = #{param1} AND status = #{param2} ORDER BY id DESC
	</select>
	
	<select id="attachmentListCall" resultType="kr.co.cc.doc.dto.AttachmentDTO">
		SELECT * FROM attachment WHERE classification = '전자문서첨부파일' AND identify_value = #{id}
	</select>	
	
	<select id="getWritedDOC" resultType="kr.co.cc.doc.dto.DocDTO">
		SELECT * FROM doc WHERE id = #{param1}
	</select>
	
	<update id="docWriteETC">
		UPDATE doc SET content = #{param2} WHERE id = #{param1}
	</update>
	
	<delete id="attachmentDelete">
		DELETE FROM attachment WHERE new_file_name = #{param1}
	</delete>
	
	<update id="docUpdate" parameterType="hashmap">
		UPDATE doc SET subject = #{subject}
			, content = #{dateWritedContent}
			, status = #{status}
			, public_range = #{publicRange} 
			, create_date = #{docUpdateTime} 
		WHERE id = #{id}
	</update>
	
	
	
</mapper>