<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.cc.doc.dao.DocDAO">

	<select id="getApprovalList" resultType="kr.co.cc.doc.dto.ApprovalDTO">
		SELECT * FROM approval
	</select>

	<select id="getMemberList" resultType="hashmap">
		SELECT m.*, jl.name AS job_level_name, d.name AS dept_name FROM member m 
			LEFT JOIN job_level jl ON m.job_level_id = jl.id 
		LEFT JOIN dept d ON m.dept_id = d.id
	</select>

	<select id="getDocFormList" resultType="kr.co.cc.doc.dto.DocFormDTO">
		SELECT * FROM doc_form
	</select>
	
	<select id="getDeptMap" resultType="hashmap">
		SELECT * FROM dept WHERE id = #{deptId}
	</select>

	<select id="getMemberInfo" resultType="kr.co.cc.doc.dto.MemberDTO">
		SELECT * FROM member WHERE id = #{param1}
	</select>
	
	<select id="getJobLevelMap" resultType="hashmap">
		SELECT * FROM job_level WHERE id = #{job_level_id}
	</select>
	
	<select id="getMemberSignFilePath" resultType="string">
		SELECT id FROM attachment WHERE classification = '서명이미지' AND identify_value = #{param1}
	</select>
	
	<select id="getApprovalName" resultType="string">
		SELECT name FROM approval WHERE priority = #{param1}
	</select>
	
	<insert 
		id="docWrite"
		parameterType="kr.co.cc.doc.dto.DocDTO"
	>
		INSERT INTO doc(id, subject, content, status, member_id, doc_form_id, dept_id, job_level_name, public_range) 
			VALUES(#{id}
			, #{subject}
			, #{content}
			, #{status}
			, #{member_id}
			, #{doc_form_id}
			, #{dept_id}
			, #{job_level_name}
			, #{public_range})
	</insert>

	<insert id="attachmentSave" parameterType="string">
		INSERT INTO attachment(id, ori_file_name, classification, identify_value) 
			VALUES(#{attachmentId}, #{oriFileName}, #{classification}, #{identifyValue})
	</insert>
	
	<select id="getWritedDoc" resultType="kr.co.cc.doc.dto.DocDTO">
		SELECT * FROM doc WHERE id = #{param1}
	</select>
	
	<select id="getApprovalId" resultType="string">
		SELECT id FROM approval WHERE priority = #{param1}
	</select>
	
	<insert id="approvalWrite" parameterType="hashmap">
		INSERT INTO doc_status(doc_id, job_name, dept_name, approval_id, order_rank, member_id) 
			VALUES(#{doc_id}, #{job_name}, #{dept_name}, #{approval_id}, #{order_rank}, #{member_id})
	</insert>
	
	<insert id="docNotice" parameterType="string">
		INSERT INTO notice(send_id, receive_id, type, identify_value) 
			VALUES(#{sendId}, #{receiveId}, #{type}, #{identifyValue})
	</insert>

	<update id="docWriteETC" parameterType="string">
		UPDATE doc SET content = #{dateWritedContent} WHERE id = #{id}
	</update>

	<select id="getDocList" resultType="kr.co.cc.doc.dto.DocDTO">
		SELECT * FROM doc WHERE member_id = #{param1} AND status = #{param2} ORDER BY create_at DESC
	</select>

	<select id="getAttachmentList" resultType="kr.co.cc.doc.dto.AttachmentDTO">
		SELECT * FROM attachment WHERE classification = '전자문서첨부파일' AND identify_value = #{id}
	</select>

	

	

	

	

	
	<delete id="attachmentDelete">
		DELETE FROM attachment WHERE new_file_name = #{param1}
	</delete>
	
	<update id="docUpdate" parameterType="hashmap">
		UPDATE doc SET subject = #{subject}
			, content = #{dateWritedContent}
			, status = #{status}
			, public_range = #{publicRange} 
			, create_date = #{docUpdateTime} 
		WHERE id = #{id}
	</update>
	
	
	
</mapper>