<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.cc.main.dao.MainDAO">

	<select id="mWorkHistory" resultType="kr.co.cc.main.dto.MainDTO">
		SELECT id, member_id, name, date,
		CASE WHEN date = CURDATE() THEN time_go ELSE '출근 전입니다.' END AS time_go,
		CASE WHEN date = CURDATE() THEN time_end ELSE '퇴근 꼭 찍어주세요!' END AS time_end
		FROM working_hour WHERE member_id=#{id}
		ORDER BY date DESC LIMIT 1
	</select>

	<select id="totalCountMs" resultType="int">
		select count (m.id) from message m where m.to_id = #{id} and read_chk = 0 and del_chk = 0
	</select>

	<select id="totalRequestDocWait" resultType="int">
		SELECT COUNT(d.id)
		FROM doc d INNER JOIN (
			SELECT ds.* FROM doc_status ds 
			WHERE ds.order_rank = (
				SELECT MIN(ds2.order_rank) FROM doc_status ds2 
				WHERE ds2.approval = 0 AND ds.doc_id = ds2.doc_id) 
			AND ds.member_id = #{loginId}) AS ds3 ON d.id = ds3.doc_id 
			AND ds3.doc_id NOT IN(
				SELECT ds4.doc_id FROM doc_status ds4 WHERE ds4.approval = 2 GROUP BY ds4.doc_id)
	</select>

	<select id="totalCountPr" resultType="int">
		select count (id) from project where member_id = #{id} and del_chk = 0
	</select>
	
	
	<select id="noticelist" resultType="kr.co.cc.noticeBoard.dto.NoticeBoardDTO">
         SELECT nb.id, nb.subject, nb.create_at ,m.name FROM notice_board nb
		left join member m on nb.member_id = m.id ORDER BY create_at DESC limit 5
   	</select>
   	
	<update id="updateTodo">
	   UPDATE personal
	   SET status = CASE WHEN status = 0 THEN 1 ELSE 0 END
	   WHERE id = #{todoId}
	</update>


	<!-- 유튜브 링크 저장 -->
	<insert 	
	id="insertLink" 
	parameterType="String"
	useGeneratedKeys="false"
	>
    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
       SELECT UUID()
    </selectKey>
		INSERT INTO attachment (ori_file_name, id, classification, identify_value)	
		values(#{youtubeId},#{newYoutubeId},'유튜브','유튜브')		
	</insert>


   
   <delete id="deleteLink">
      DELETE FROM attachment WHERE classification = '유튜브'
   </delete>


	<select id="youtubeURL" resultType="String">
		SELECT ori_file_name FROM attachment WHERE classification = '유튜브'
	</select>





</mapper>