<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.cc.member.dao.MemberDAO">

	<insert id = "join" parameterType="kr.co.cc.member.dto.MemberDTO">
		INSERT INTO member(user_id,password,name,birth_at,hire_at,email,phone,status,admin_chk,job_level_id,dept_id)
			VALUES(#{user_id},#{password},#{name},#{birth_at},#{hire_at},#{email},#{phone},1,0,#{job_level_id},#{dept_id})
	</insert>
	
	<select id = "login" parameterType="hashmap">
		SELECT user_id FROM member WHERE user_id = #{user_id} and password = #{password}
	</select>
	
	<select id="idChk" resultType="int">
      SELECT COUNT(user_id) FROM member WHERE user_id = #{param1}
    </select>
    
    <select id="getUserInfo" parameterType="hashmap"
		resultType="kr.co.cc.member.dto.MemberDTO">
		SELECT id
		, password
		, name
		, birth_date
		, hire_date
		, end_date
		, email
		, phone
		, status
		, admin_chk
		, job_name
		, dept_name
		FROM member
		WHERE name = #{name}
		AND email = #{email}
	</select>
    
    
    <select id="getUserInfoPW" parameterType="hashmap"
		resultType="kr.co.cc.member.dto.MemberDTO">
		SELECT id
		, password
		, name
		, birth_date
		, hire_date
		, end_date
		, email
		, phone
		, status
		, admin_chk
		, job_name
		, dept_name
		FROM member
		WHERE id = #{id}
		AND name = #{name}
		AND email = #{email}
	</select>
	
	<select id="userInfo" resultType="kr.co.cc.member.dto.MemberDTO">
		SELECT id
		, password
		, name
		, birth_date
		, hire_date
		, end_date
		, email
		, phone
		, status
		, admin_chk
		, job_name
		, dept_name
		FROM member
		WHERE id = #{param1}

	</select>
	
	

</mapper>