<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.cc.message.dao.MessageDAO">


	<!-- 보낸 편지함 -->
	<select id="sendList" resultType="kr.co.cc.message.dto.MessageDTO">
		SELECT id, to_id , title, send_date, read_chk FROM message ORDER BY id DESC <!-- 수정 : 사원 아이디 조건 넣어야함 -->
	</select>
	
	<!-- 받은 편지함 -->
	<select id="receiveList" resultType="kr.co.cc.message.dto.MessageDTO">
		SELECT id, to_id , from_id, title, send_date, read_chk FROM message ORDER BY id DESC <!-- 수정 : 사원 아이디 조건 넣어야함 -->
	</select>	
	
	<!-- 검색 -->
	<select id="search" resultType="kr.co.cc.message.dto.MessageDTO" parameterType="HashMap">
		SELECT * FROM message
			<where>
			<if test="keyword != null and !keyword.equals('') ">
			title LIKE CONCAT('%', #{keyword}, '%')
			</if>
			</where>
	</select>

	<select id="msdetail" resultType="kr.co.cc.message.dto.MessageDTO">
		SELECT * FROM message WHERE id = #{id}
	</select>	

	<insert 
		useGeneratedKeys="true"
		keyColumn="id"
		keyProperty="id"
		id="msWrite" parameterType="kr.co.cc.message.dto.MessageDTO"
	>
		INSERT INTO message(from_id, to_id, title, content, send_date, del_chk, read_chk)
			VALUES(#{from_id}, #{to_id}, #{title}, #{content}, #{send_date}, 0, 0)
	</insert>

	<insert id="fileWrite">
		INSERT INTO attachment(ori_photo_name, new_photo_name, photo_div, classification)
			VALUES(#{param1}, #{param2}, #{param3}, #{param4})
	</insert>
	
</mapper>