<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="kr.co.cc.noticeBoard.dao.NoticeBoardDAO">

   <select id="nolist" resultType="kr.co.cc.noticeBoard.dto.NoticeBoardDTO">
         SELECT nb.id, nb.subject, nb.create_at,nb.hit, m.user_id, m.name FROM notice_board nb
		left join `member` m on nb.member_id = m.id ORDER BY create_at DESC
   </select>
         
<!--    <select id="list" resultType="kr.co.cc.noticeBoard.dto.NoticeBoardDTO">
   		SELECT * FROM  notice_board
   </select> -->
   
<!-- 	<insert
	useGeneratedKeys="true"
	keyColumn="id"
	keyProperty="id"	
	id="noticeBoardWrite" parameterType="kr.co.cc.noticeBoard.dto.NoticeBoardDTO">
      INSERT INTO notice_board(member_id, subject, content,hit, status)
      VALUES(#{member_id}, #{subject}, #{content},0,1)
   </insert>  -->


 	<insert 
    id="noticeBoardWrite" 
    parameterType="kr.co.cc.noticeBoard.dto.NoticeBoardDTO" 
    useGeneratedKeys="false">
	    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
	        SELECT UUID()
	    </selectKey>
	    INSERT INTO notice_board(id, member_id, subject, content,hit, status)
	      VALUES(#{id}, #{member_id}, #{subject}, #{content},0,1)
	</insert> 


	<insert id="nofileWrite">
		INSERT INTO attachment(ori_file_name, id, classification, identify_value)
			VALUES(#{param1}, #{param2}, #{param3}, #{param4})
	</insert>

   
   <select id="nodetail" resultType="kr.co.cc.noticeBoard.dto.NoticeBoardDTO">
      select nb.id, nb.member_id, nb.subject, nb.content, nb.hit, nb.create_at, m.user_id, m.name, m.admin_chk
		from notice_board nb
		left join member m on nb.member_id = m.id 
		where nb.id = #{id} 
   </select>
   
   
   
   <select id="rlist" resultType="kr.co.cc.noticeBoard.dto.NoticeBoardDTO">
    SELECT member_id, m.name FROM read_list left join `member` m on read_list.member_id = m.id WHERE notice_board_id = #{notice_board_id}
   </select>

   <select id="rcount" resultType="int">
    SELECT COUNT(member_id)FROM read_list WHERE notice_board_id=#{id} AND member_id=#{loginId}
   </select>
   
   <insert id="getinfo" parameterType="string">
      INSERT INTO read_list(member_id, notice_board_id) values(#{loginId},#{id})
   </insert>
   
   
   
   <update id="upHit">
      UPDATE notice_board SET hit=hit+1 
         WHERE id=#{id}
   </update>   
   
	
   <select id="noDetailFile" resultType="kr.co.cc.noticeBoard.dto.NoticeBoardDTO">
      SELECT * FROM attachment 
      WHERE identify_value = #{id}
   </select>
   
   	<select id="logincheck" resultType="kr.co.cc.noticeBoard.dto.NoticeBoardDTO">
		SELECT admin_chk FROM member WHERE id = #{param1}
	</select>	
   
   <delete id="noticeBoardDel">
      DELETE FROM notice_board WHERE id = #{id}
   </delete>
   
   <delete id="noticeDel">
      DELETE FROM notice WHERE identify_value = #{id}
   </delete>
   

   <select id="nlist" resultType="kr.co.cc.noticeBoard.dto.NoticeBoardDTO">
      SELECT name, id from member 
   </select>
	
	<select id="memberAll" resultType="kr.co.cc.member.dto.MemberDTO">
		SELECT id FROM member;
	</select>
	
	<insert id="insertNotice" parameterType="hashmap">
		INSERT INTO notice(send_id, receive_id,type,status,identify_value)
		VALUES(#{send_id},#{receive_id},'공지사항',0,#{identify_value});
	</insert>
	
	<update id="readNotice" parameterType="String">
		UPDATE notice set status = 1
		WHERE identify_value=#{id}
		AND receive_id=#{loginId}
	</update>
	
	
	
</mapper>