<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.cc.notice.dao.NoticeDAO">

	<select id="nlist" resultType="kr.co.cc.notice.dto.NoticeDTO">
	<!-- 	SELECT notice.type, notice.identify_value, notice.send_id, notice.create_at, m.name  FROM notice left join `member` m on notice.send_id = m.id WHERE notice.status =0;
	 -->
	 
	 select type, identify_value, send_id, create_at from notice WHERE notice.status =0;
	</select>


</mapper>