<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.cc.personal.dao.PersonalDAO">


		<select id="personalList" resultType="kr.co.cc.personal.dto.PersonalDTO"> <!-- 메서드 가져옴 > resultType >결과 반환타입 -->
			SELECT * FROM personal WHERE member_id=#{id} ORDER BY start_at DESC
		</select>
		
		<insert 
	    id="pwrite" 
	    parameterType="kr.co.cc.personal.dto.PersonalDTO" 
	    useGeneratedKeys="false">
	    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
	        SELECT UUID()
	    </selectKey>
	    INSERT INTO personal(id, member_id, title, start_at,end_at, status)
	      VALUES(#{id}, #{member_id}, #{title}, #{start_at},#{end_at},1) 
	</insert> 
		
 		<select id="personalUpdate">
			SELECT * FROM personal where id =#{param1}
		</select>
		
<!-- 		<select id="update">
			SELECT * FROM personal where id =#{param1}
		</select> -->
		
		<update id="update" parameterType="hashmap">
		UPDATE personal SET start_at = #{start_at}, end_at = #{end_at} WHERE id = #{id}
		</update>
		
		<delete id="del">
   		   DELETE FROM personal WHERE id = #{param1}
   		</delete>
   		


	
	
		
</mapper>