<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.cc.project.dao.ProjectDAO">
	<insert  id="write" parameterType="kr.co.cc.project.dto.ProjectDTO">
		INSERT INTO
		project(name,member_id,public_range,priod,deadlinepriod,step,status)
		VALUES(#{name},#{member_id},#{public_range},#{priod},#{deadlinepriod},'기획','준비중')
	</insert>	
	
	<select  id="list" parameterType="kr.co.cc.project.dto.ProjectDTO">
		SELECT * FROM project
	</select>	
																							
</mapper>

